// Text Colors
$primaryColor: #3cb879;
$secondaryColor: #1cbcb4;
$linkColor: #0099cd;
$textColor: #2c2c2c;

// Background Colors
$primarybackground: #fafafa;

// Sizes
$baseFontSize: 13px;

// Grid
$gridGutter: 20px;
$siteColumns: 12;
$siteWidth: 960px;

// Font stacks
$bodyFontStack: "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
$codeFontStack: Monaco, "Courier New", sans-serif;
$headlineFontStack: $bodyFontStack;